<script setup lang="ts">
import WelcomeItem from './WelcomeItem.vue'
import DocumentationIcon from './icons/IconDocumentation.vue'
import ToolingIcon from './icons/IconTooling.vue'
import EcosystemIcon from './icons/IconEcosystem.vue'
import CommunityIcon from './icons/IconCommunity.vue'
import SupportIcon from './icons/IconSupport.vue'
</script>

<template>
  <WelcomeItem>
    <template #icon>
      <DocumentationIcon />
    </template>
    <template #heading>Presentation</template>

    Je m'appele Po et j'adore la programmation
    et les jeux video. Mon repas prefere c'est
    les ramens. Je suis un fan d'anime comme
    Naruto, One Piece et Dragon Ball. Je fais
    aussi du crossfit et de la natation.
  </WelcomeItem>

  <WelcomeItem>
    <template #icon>
      <ToolingIcon />
    </template>
    <template #heading>La programmation et moi.</template>

    J'ai commencé à programmer sur Scratch vers
    l'age de 7-8 ans. À 10 ans j'ai commencé à coder
    avec Python. Ensuite j'ai fais un peu de
    JavaScript jusqu'à maintenant avec ce site web.
  </WelcomeItem>

  <WelcomeItem>
    <template #icon>
      <EcosystemIcon />
    </template>
    <template #heading>Dans le futur...</template>

    Dans le futur j'aimerais apprendre
    à coder avec C# sur Unity.
    Avec mon ami BlaseZeus, on 
    aimerait créer des jeux ensemble de Unity;
    il est bon en art et en programmation et
    je suis nul en art mais meilleur en
    programmation  donc il s'occupera du
    côté artistique de nos jeux.
    
  </WelcomeItem>

  <WelcomeItem>
    <template #icon>
      <CommunityIcon />
    </template>
    <template #heading>Mon équipement :</template>

    J'utilise de MSI Katana GF66 coonstitué
    de :
    l'Intel® Core™ i7,
    la RTX 3070,
    et du Intel Wi-Fi 6.
  
  </WelcomeItem>
</template>

<style>
  img {
  width: 20px;
  height: 20px;
}
.image{
  width: 50px;
  height: 50px;
}
  </style>